@import url('https://fonts.googleapis.com/css?family=Lacquer|Orbitron|Roboto&display=swap');

img{
  width: 20vw;
  height: auto;
}

 body,
 html {
   width: 100%;
   height: 100%;
 
 }
  h1,h2,h4,h5,h6{
    font-family: 'Lacquer', sans-serif;
    color: crimson;
  }
 body {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url('https://i.redd.it/5pr2d6fopii31.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
h3{
  font-family: 'Orbitron', sans-serif;
  color: crimson;
  font-weight: 9000;
}
p{
  font-family: 'Roboto', sans-serif;
  color: crimson;
}
.game-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container{
  margin: 2vh 0;
}
.btn-container button{
  width: 10vw;
}

#startButton {
  box-shadow: 10px 10px 34px -1px rgba(255, 255, 255, 0.75)
}
.startingScreen{
 display: flex;
 flex-direction: row;
 align-items: center;
}

#scoreBoard {
  font-family: 'orbitron';
  color: indianred;
}

.catFact {
  color: antiquewhite;
}

.leader-cont{
  margin: 2rem 0;
  padding: 2rem;
  height: 200px;
  border: 1px grey solid;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 1rem;
  overflow: auto;
}
.leader-cont h2{
  font-family: 'Orbitron', sans-serif;
  color: crimson;
  font-weight: 9000;
}
.leader-cont::-webkit-scrollbar {
  width: 1em;
}
  




.hidden {
  display: none;
}
